{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>

  <section>Section 1</section>
  <section>Section 2</section>
  <section>Section 3</section>
  <section>Section 4</section>
  <section>Section 5</section>

  <button class='button-scroll' id='scroll_top'>
    <img
      src='../svg/scroll_arrow.svg'
      alt='Scroll to top'
      class='scroll__arrow__icon'
    />
  </button>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}